  #gssSearchBox, .gsc-control-searchbox-only  {
	height: 15px;
  }
  .gcsc-branding, .gsc-clear-button, .gsib_b {
	display: none !important;
  }
  .gsc-control-cse {
    font-family: Arial, sans-serif !important;
	vertical-align: bottom !important;
  }
  .gsc-control-cse .gsc-table-result {
    font-family: Arial, sans-serif !important;
  }
  table.gsc-search-box {
	height: 15px;
	margin: 0px !important; 
	width: 72% !important; 
  }  
  form.gsc-search-box, input.gsc-input, .gsc-completion-container {
	font-size: 10px !important;
	margin: 0px !important;
	width: 100% !important; 
  }
  td.gsib_a, td.gsc-input{
	padding: 0px !important;
	width: 100% !important; 
  }
  td.gsc-search-buttons {
	display: none;
  }
  input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
	background-image:none !important;
	border:none !important;
	height: 15px !important;
	margin: 0 !important;
  }
  input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    background-image: none !important;
    filter: none !important;
	display: none !important;
	border:none !important;
  }
