body.lightbox-open {
    overflow: hidden;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.lightBox-nav ul{
	margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    text-align: center;
}
.lightBox-nav ul li {
    display: inline-block;
}
.lightBox-nav ul li img {
    height: 200px;
	cursor: pointer;
}
.lightbox {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
body.lightbox-open .lightbox{
	overflow-y: auto;
}
/* .lightbox:not(.data-close):hover{
	cursor: url(/citi-priority/views/images/close-wt.png), auto;
} */
.lightbox-open #lightbox {
    overflow-x: hidden;
    overflow-y: auto;
}
.lightbox-title {
    padding: 10px 15px 18px 15px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}
.lightbox-title h3 {
    padding: 0;
    margin: 0;
    font-size: 16px;
	color: #333;
	font-weight: bold;
}
.lightbox-cover{
	display: table;
    margin: 0 auto;
	height: 100%;
}
.lightbox-content{
	display: table-cell;
    vertical-align: middle;	
}
.lightbox-inner{
	margin: 4% auto;
	position: relative;
	height: auto;
	background: #fff;
	z-index: 1060;
	cursor: auto;
	padding: 0;
}
.lightbox-body {
    padding: 76px 0px 63px;
	font-size: 14px;
    line-height: 20px;
    color: #666;
    text-align: left;
    margin: 0;
	overflow-y: auto;
    max-height: 500px;
}
.lightbox-body .lightBox-image{
	max-width: 100%;
	width: 100%;
	display: block;
}
.lightbox-body.lightBox-image-cover {
    padding: 0 10px;
	position: relative;
}
.lightbox-body .image-caption {
    position: relative;
    color: #666;
    padding: 0;
    width: 100%;
    padding-top: 5px;
}
.lightBox-container {
	display: none;
}
.lightbox-body .lightBox-container {
	display: block!important;
}
.lightbox .close {
    font-size: 16px;
    color: #333;
    position: absolute;
    right: 10px;
    top: 10px;
    text-transform: lowercase;
    line-height: 0px;
    cursor: pointer;
    opacity: 0.5;
    font-family: monospace;
    z-index: 9;
}
.lightbox .close img {
    max-width: 22px;
}
.lightbox .close:hover {
    opacity: 0.8;
}
.lightbox-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #333;
}
.lightbox-overlay.on {
	opacity: 0.5;
    filter: alpha(opacity=50);
}
.lightbox-overlay.off {
	opacity: 0;
    filter: alpha(opacity=0);
}
mark {
    background: #f7f7f7;
}
.lightbox-body.lightBox-video-frame iframe{
	max-width: 100%;
    width: 100%;
    border: 0;
}
div[class^="embed_"] {
    opacity: 0;
    visibility: hidden;
    display: none;
}
/******************************
***** Responsive Queries ******
******************************/
@media only screen and (max-width:1024px){
	.lightBox-nav{
		margin-bottom : 10px;
	}
	.image-caption {
		position: relative;
		bottom: 0;
		background: transparent;
		color: #333;
		padding: 1% 0;
		width: 100%;
		margin: 0;
		left: initial;
		right: initial;
	}
}
@media only screen and (max-width:600px){
	.lightBox-nav{
		margin-bottom : 10px;
	}		
	.lightbox-body {
		padding: 15px;
	}
	.lightBox-nav ul li img {
		max-width: 100%;
	}
		.lightbox-body object{
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.lightbox-body {padding: 55px 0px 52px;}
	.lightbox-inner {width: 790px;}
}
