@font-face {
    font-family: 'ddl-interstate-exlight';
    src: url('Interstate_exLight.eot');
    src: local('☺'), 
        url(Interstate_exLight.eot?#iefix) format('embedded-opentype'),
        url('Interstate_exLight.woff') format('woff'),
        url('Interstate_exLight.ttf') format('truetype'), 
        url('Interstate_exLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ddl-interstate-light';
    src: url('Interstate-Light.eot');
    src: local('☺'), 
        url(Interstate-Light.eot?#iefix) format('embedded-opentype'),
        url('Interstate-Light.woff') format('woff'), 
        url('Interstate-Light.ttf') format('truetype'), 
        url('Interstate-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ddl-interstate-regular';
    src: url('Interstate-Regular.eot');
    src: local('☺'), 
        url(Interstate-Regular.eot?#iefix) format('embedded-opentype'),
        url('Interstate-Regular.woff') format('woff'), 
        url('Interstate-Regular.ttf') format('truetype'), 
        url('Interstate-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ddl-interstate-bold';
    src: url('Interstate-Bold.eot');
    src: local('☺'), 
        url(Interstate-Bold.eot?#iefix) format('embedded-opentype'),
        url('Interstate-Bold.woff') format('woff'), 
        url('Interstate-Bold.ttf') format('truetype'), 
        url('Interstate-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}