/* 2018/12/29 */
.fix-bottom{background-color: #002954;float: left;width: 100%;}
.fix-bottom div{float: left;margin: 10px;color: #fff;}
.fix-bottom div:first-child{margin-left: 65%;background-color: #fff;color: #002954;padding: 5px 10px;border-radius: 3px;cursor: pointer;}
.fix-bottom .dlqrcode{border-left: 1px solid #fff;padding-left: 15px;position: relative;padding-right: 50px;}
.fix-bottom .dlqrcode img{top: -61px;    right: -65px;position: absolute;}
.fix-bottom.active{position: fixed;bottom: 0px;z-index: 2;}

#howtouse02{padding:60px 15px 0 15px;}

.tabswitch.tabcol2 a{border: 1px solid #a1a1a145;font-weight: bold;overflow: hidden;outline: unset;}
.tabswitch.tabcol2 a.active{background:url(../images/bg1.jpg);border: 1px solid #63a5d8;
	font-weight:normal;background-repeat: no-repeat;background-size: cover;}
.tabswitch a.active:before{bottom: -4px;}


.section2-tabs ul{width: 100%;}

.bottombox__tablebox div{overflow-x: auto;}
#howtouse02 .bg{background-image: url(../images/tab-back.png);background-size: cover;}
.tabswitch-box{background: transparent;}
.tab-phone{left: 50px;}
.tabswitch-box .overflow-content,.section2-tabs{margin-left: 55%;}
.tabswitch a{background-color: #f4f4f4;}

.color-009{color: #43678d;}
.color-009 u{font-size: 20px;}
.tips.active{font-weight: bold;}

.pcshow{display: block;}
.mbshow{display: none;}

@media (max-width:768px) {
	.fix-bottom div:first-child{margin-left:55%;}
	.fix-bottom .dlqrcode img{right: -58px;}
    .section2-tabs div{font-size: 14px;}
    .tabswitch-box{    padding: 80px 30px;}
    .tabswitch-box .overflow-content{overflow-x:unset;}
}

@media (max-width:640px) {
	.fix-bottom div:first-child{margin-left:46%;}
	.tabswitch-box{    padding: 80px 100px;}
}

@media (max-width:420px) {
	.mbshow{display: block;}
	.pcshow{display: none;}
	.big-number i{font-size:92%;}
	.fix-bottom div:first-child{margin-left:25%;padding: 2px 10px;}
	.fix-bottom .dlqrcode{padding-right: 0px;}
	#howtouse02{padding:60px 0px 0 0px;}
	.section2-tabs li{font-size: 14px;}
	.tabswitch-box{    padding: 80px 30px;}
	.tab-phone{left: -25px;}
	.tabswitch-box .overflow-content{margin-left: 0%;}
	.bottombox__tablebox table{min-width: 100%;}
}

@media (max-width:360px) {
	.fix-bottom div{    margin: 10px;}
	.fix-bottom div:first-child{margin-left:18%;}
	.fix-bottom .dlqrcode {padding-left: 15px;}
}

@media (max-width:320px) {
}