/*! Thu Mar 29 2018 | www.citibank.com.tw | www.citibank.com.tw is a company website design by Wunderman. | Shimin */
@charset "UTF-8";

.bottombox__btn .roll,
.ct-downlink .morelink *,
.ct-promote .container-in:before,
.ct-promote .upperbox__bncontent,
.ct-promote .upperbox__bntitle .table-cell,
.inb-box>* {
  vertical-align: middle
}

.full-screen,
.full-width {
  max-width: 100%
}

.full-height,
.full-min-height {
  min-height: 100%
}

.hr-10,
.hr-100,
.hr-15,
.hr-20,
.hr-25,
.hr-30,
.hr-35,
.hr-40,
.hr-45,
.hr-5,
.hr-55,
.hr-60,
.hr-65,
.hr-70,
.hr-75,
.hr-80,
.hr-85,
.hr-90,
.hr-95,
input,
select,
textarea {
  border: 0
}

.ct-kv,
.kv,
main {
  overflow: hidden
}

.big-number i,
.bottombox__btn a i {
  font-style: normal
}

.content>.main {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  display: block
}

.icon,
.icon~span,
.middle-frame .middle,
.middle-frame:before,
.words,
.words~span {
  position: relative;
  margin-right: -6px;
  display: inline-block;
  vertical-align: middle
}

.hr-10,
.hr-100,
.hr-15,
.hr-20,
.hr-25,
.hr-30,
.hr-35,
.hr-40,
.hr-5,
.hr-50,
.hr-55,
.hr-60,
.hr-65,
.hr-70,
.hr-75,
.hr-80,
.hr-85,
.hr-90,
.hr-95,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
select,
textarea {
  margin: 0
}

input,
select,
textarea {
  width: 100%;
  height: 35px;
  padding: 0;
  outline: 0;
  z-index: 10;
  resize: none;
  display: block;
  font-size: 1em
}

@media (min-width:768px) {

  input,
  select,
  textarea {
    height: 28px
  }
}

.font-xs {
  font-size: .75em
}

.font-s {
  font-size: .9em
}

.font-l {
  font-size: 1.25em
}

.font-xl {
  font-size: 1.5em
}

.font-initial {
  font-size: 300%
}

.weight-m {
  font-weight: 600
}

.weight-b {
  font-weight: 900
}

.underline {
  text-decoration: underline
}

.bottombox__btn a:active,
.bottombox__btn a:focus,
.bottombox__btn a:hover,
.ct-downlink .morelink:hover,
.menuwrap__box__inner ul li a:focus,
.menuwrap__box__inner ul li a:hover,
.menuwrap__box__social a:hover {
  text-decoration: none
}

.middle-frame:before {
  content: "";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 0;
  height: 100%
}

.content,
.full-screen,
.full-width,
.imgblock,
.kv {
  width: 100%
}

.slick-list,
.slick-track {
    height: 100%;
}
.hide {
  display: none !important
}

.show {
  display: inherit !important
}

.fixed {
  position: fixed !important
}

.full-screen {
  height: 100%
}

.full-height {
  height: 100%
}

main {
  position: relative
}

* {
  font-family: 'Microsoft JhengHei', 'Microsoft JhengHei', sans-serif !important
}

.content>.main {
  max-width: 960px
}

.content>.main>.article {
  text-align: left
}

.icon img,
.words img {
  display: block
}

.hr-5 {
  padding-top: 5px
}

.hr-10 {
  padding-top: 10px
}

.hr-15 {
  padding-top: 15px
}

.hr-20 {
  padding-top: 20px
}

.hr-25 {
  padding-top: 25px
}

.hr-30 {
  padding-top: 30px
}

.hr-35 {
  padding-top: 35px
}

.hr-40 {
  padding-top: 40px
}

.hr-45 {
  margin: 0;
  padding-top: 45px
}

.hr-50 {
  border: 0;
  padding-top: 50px
}

.hr-55 {
  padding-top: 55px
}

.hr-60 {
  padding-top: 60px
}

.hr-65 {
  padding-top: 65px
}

.hr-70 {
  padding-top: 70px
}

.hr-75 {
  padding-top: 75px
}

.hr-80 {
  padding-top: 80px
}

.hr-85 {
  padding-top: 85px
}

.hr-90 {
  padding-top: 90px
}

.hr-95 {
  padding-top: 95px
}

.hr-100 {
  padding-top: 100px
}

.pl-5 {
  padding-left: 5px
}

.pl-10 {
  padding-left: 10px
}

.pl-15 {
  padding-left: 15px
}

.pl-20 {
  padding-left: 20px
}

.pl-25 {
  padding-left: 25px
}

.pl-30 {
  padding-left: 30px
}

.pl-35 {
  padding-left: 35px
}

.pl-40 {
  padding-left: 40px
}

.pl-45 {
  padding-left: 45px
}

.pl-50 {
  padding-left: 50px
}

.pl-55 {
  padding-left: 55px
}

.pl-60 {
  padding-left: 60px
}

.pl-65 {
  padding-left: 65px
}

.pl-70 {
  padding-left: 70px
}

.pl-75 {
  padding-left: 75px
}

.pl-80 {
  padding-left: 80px
}

.pl-85 {
  padding-left: 85px
}

.pl-90 {
  padding-left: 90px
}

.pl-95 {
  padding-left: 95px
}

.pl-100 {
  padding-left: 100px
}

.pr-5 {
  padding-right: 5px
}

.pr-10 {
  padding-right: 10px
}

.pr-15 {
  padding-right: 15px
}

.pr-20 {
  padding-right: 20px
}

.pr-25 {
  padding-right: 25px
}

.pr-30 {
  padding-right: 30px
}

.pr-35 {
  padding-right: 35px
}

.pr-40 {
  padding-right: 40px
}

.pr-45 {
  padding-right: 45px
}

.pr-50 {
  padding-right: 50px
}

.pr-55 {
  padding-right: 55px
}

.pr-60 {
  padding-right: 60px
}

.pr-65 {
  padding-right: 65px
}

.pr-70 {
  padding-right: 70px
}

.pr-75 {
  padding-right: 75px
}

.pr-80 {
  padding-right: 80px
}

.pr-85 {
  padding-right: 85px
}

.pr-90 {
  padding-right: 90px
}

.pr-95 {
  padding-right: 95px
}

.pr-100 {
  padding-right: 100px
}

@font-face {
  font-family: interstate-bold, arial, sans-serif, "Microsoft JhengHei", HeitiTC;
  font-style: normal;
  font-weight: 400;
  src: url(/sim/citipriority/views/fonts/interstate_bold.eot?#iefix) format("embedded-opentype"), url(/sim/citipriority/views/fonts/interstate_bold.woff) format("woff"), url(/sim/citipriority/views/fonts/interstate_bold.ttf) format("truetype"), url(/sim/citipriority/views/fonts/interstate_bold.svg#Citibank) format("svg")
}

@font-face {
  font-family: interstate, arial, sans-serif, "Microsoft JhengHei", HeitiTC;
  font-style: normal;
  font-weight: 400;
  src: url(/sim/citipriority/views/fonts/interstaterom-webfont.eot?#iefix) format("embedded-opentype"), url(/sim/citipriority/views/fonts/interstaterom-webfont.woff) format("woff"), url(/sim/citipriority/views/fonts/interstaterom-webfont.ttf) format("truetype"), url(/sim/citipriority/views/fonts/interstaterom-webfont.svg#Citibank) format("svg")
}

@font-face {
  font-family: interstate-light;
  font-style: normal;
  font-weight: 400;
  src: url(/sim/citipriority/views/fonts/interstaterom-webfont-light.eot?#iefix) format("embedded-opentype"), url(/sim/citipriority/views/fonts/interstaterom-webfont-light.woff) format("woff"), url(/sim/citipriority/views/fonts/interstaterom-webfont-light.sitx) format("truetype"), url(/sim/citipriority/views/fonts/interstate_extralight.svg#Citibank) format("svg")
}

@font-face {
  font-family: interstate-extralight;
  font-style: normal;
  font-weight: 400;
  src: url(/sim/citipriority/views/fonts/interstate_extralight.eot?#iefix) format("embedded-opentype"), url(/sim/citipriority/views/fonts/interstate_extralight.woff) format("woff"), url(/sim/citipriority/views/fonts/interstate_extralight.sitx) format("truetype"), url(/sim/citipriority/views/fonts/interstate_extralight.svg#Citibank) format("svg")
}

@font-face {
  font-family: ddl-interstate-exlight;
  src: url(/sim/citipriority/views/ddlfonts/Interstate_exLight.eot);
  src: local("☺"), url(/sim/citipriority/views/ddlfonts/Interstate_exLight.eot?#iefix) format("embedded-opentype"), url(/sim/citipriority/views/ddlfonts/Interstate_exLight.woff) format("woff"), url(/sim/citipriority/views/ddlfonts/Interstate_exLight.ttf) format("truetype"), url(/sim/citipriority/views/ddlfonts/Interstate_exLight.svg) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: ddl-interstate-light;
  src: url(/sim/citipriority/views/ddlfonts/Interstate-Light.eot);
  src: local("☺"), url(/sim/citipriority/views/ddlfonts/Interstate-Light.eot?#iefix) format("embedded-opentype"), url(/sim/citipriority/views/ddlfonts/Interstate-Light.woff) format("woff"), url(/sim/citipriority/views/ddlfonts/Interstate-Light.ttf) format("truetype"), url(/sim/citipriority/views/ddlfonts/Interstate-Light.svg) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: ddl-interstate-regular;
  src: url(/sim/citipriority/views/ddlfonts/Interstate-Regular.eot);
  src: local("☺"), url(/sim/citipriority/views/ddlfonts/Interstate-Regular.eot?#iefix) format("embedded-opentype"), url(/sim/citipriority/views/ddlfonts/Interstate-Regular.woff) format("woff"), url(/sim/citipriority/views/ddlfonts/Interstate-Regular.ttf) format("truetype"), url(/sim/citipriority/views/ddlfonts/Interstate-Regular.svg) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: ddl-interstate-bold;
  src: url(/sim/citipriority/views/ddlfonts/Interstate-Bold.eot);
  src: local("☺"), url(/sim/citipriority/views/ddlfonts/Interstate-Bold.eot?#iefix) format("embedded-opentype"), url(/sim/citipriority/views/ddlfonts/Interstate-Bold.woff) format("woff"), url(/sim/citipriority/views/ddlfonts/Interstate-Bold.ttf) format("truetype"), url(/sim/citipriority/views/ddlfonts/Interstate-Bold.svg) format("svg");
  font-weight: 400;
  font-style: normal
}

body {
  color: #4e4e4e;
  background: #e8e8e8;
  min-width: 350px
}

body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased
}

.container-in {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto
}

#mainNav {
  display: none !important
}

.graybg {
  background: #d8d8d8
}

.darkbluebg {
  background: #204064
}

.gradient {
  background-image: -webkit-linear-gradient(top, #fff 0, #e3e3e3 100%);
  background-image: -o-linear-gradient(top, #fff 0, #e3e3e3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e3e3e3));
  background-image: -moz-linear-gradient(top, #fff 0, #e3e3e3 100%);
  background-image: linear-gradient(to bottom, #fff 0, #e3e3e3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE3E3E3', GradientType=0)
}

.imgblock {
  display: block
}

.table {
  display: table
}

.table-cell {
  display: table-cell;
  min-height:525px;
  height:100%;
}

.kv__words .big-number,
.kv__words p {
  display: inline-block;
  vertical-align: top
}

.title {
  color: #0e2a48;
  letter-spacing: 4px
}

.title--lighten {
  color: #004f9a;
  letter-spacing: 3px
}

.subtitle {
  color: #747474;
  font-size: 16px;
  letter-spacing: 3px
}
.kv{
  position: absolute;
  height:100%;
}
.kv__img {
  position: relative;
  height: 100%;
  left: 0;
  top: 0;
  /* background: url(../images/efx-kv.jpg) right no-repeat; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  /* -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover */
}
.kv_bg-slider{
  position: relative;
  width:100%;
  height:100%;
}

.kv_bg-slider .slider{
  position: relative;
  width:100%;
  height:100%;
}
@media (max-width:991px) {
  .kv {

  }

  .ct-kv .table-cell {
    display: block
  }
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
  .kv {
    padding-bottom: 75%;
    margin-bottom: -75%
  }
}

@media screen and (min-width:0\0) {
  .kv {
    padding-bottom: 75%;
    margin-bottom: -75%
  }
}

.kv__words {
  position: absolute;
  color: #1e4f81;
  top: 180px;
  left: 20px;
  text-shadow: 0 0 10px #fff
}

.kv__words-white {

  color: #FFF;
  text-shadow: 0 0 10px rgba(255,255,255,0.5);
}


@media (min-width:1440px) {
  .kv__words {
    top: 315px;
    left: 50px
  }
}

.kv__words__title {
  font-size: 40px;
  border-bottom: 1px #1e4f81 solid;
  line-height: 180%;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 10px;
}
.kv__words-white .kv__words__title{
  border-bottom: 1px #FFF solid;
}
@media (max-width:767px) {
  .kv__words {
    top: 5px;
    left: 15px
  }

  .kv__words__title {
    font-size: 18px;
    letter-spacing: 3px;
  }
}

.kv__words__subtitle {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 4px
}

@media (max-width:767px) {
  .kv__words__subtitle {
    font-size: 16px
  }
}

.kv__words p {
  font-size: 25px;
  padding-right: 5px;
  letter-spacing: 2px;
}

@media (max-width:767px) {
  .kv__words p {
    font-size: 14px
  }
}

.ct-kv {
  padding-top: 44px;
  margin-bottom: 0;
  table-layout: fixed
}

@media (min-width:768px) {
  .ct-kv {
    padding-top: 91px
  }
}

.ct-kv .table-cell {
  position: relative;
  vertical-align: top
}

.ct-kv__formwrap {
  width: 300px;
  background-image: -webkit-linear-gradient(top, #e2e2e2 0, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #e2e2e2 0, #f5f5f5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#f5f5f5));
  background-image: -moz-linear-gradient(top, #e2e2e2 0, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #e2e2e2 0, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE2E2E2', endColorstr='#FFF5F5F5', GradientType=0);
  padding: 60px 30px
}

@media (min-width:768px) {
  .ct-kv__formwrap {
    width: 320px;
    padding: 35px 20px 16px
  }

  .ct-kv__formwrap__title {
    font-size: 16px
  }
}

@media (min-width:992px) {
  .ct-kv__formwrap {
    widows: 380px;
    padding: 30px 20px 10px
  }
}

@media (min-width:1280px) {
  .ct-kv__formwrap {
    width: 400px;
    padding: 60px 30px 100px
  }
}

@media (min-width:1440px) {
  .ct-kv__formwrap {
    padding-bottom: 290px
  }
}

.ct-kv__formwrap__title {
  font-size: 16px;
  color: #686868;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 700
}

@media (min-width:1280px) {
  .ct-kv__formwrap__title {
    font-size: 19px
  }
}

@media (max-width:991px) {
  .ct-kv__formwrap {
    width: 100%;
    padding: 30px 20px
  }

  .ct-kv__formwrap__title {
    text-align: center
  }
}

.ct-kv .kv__citiapp {
  background: url(../images/kv-phone-back.png);
  width: 262px;
  height: 221px;
  position: absolute;
  bottom: 0px;
  left: 20px
}

@media (min-width:1440px) {
  .ct-kv .kv__citiapp {
    left: 40px;
    bottom: 0px
  }
}

.ct-kv .kv__citiapp img {
  display: block;
}
.ct-kv .kv__citiapp .slick-arrow{
  display: none;
}
.ct-kv .kv__citiapp .kv-slider{
  position:relative;
  height: 100%;
  width: 100%;
}

.ct-kv .kv__citiapp .slick-list{
  position: absolute;
  left: 16px;
  bottom: 0;
  width: 145px;
}
.big-number {
  line-height: 100%;
  font-size: 50px;
  text-shadow: 0 0 10px #fff
}

.big-number i {
  font-size: 110%;
  font-family: ddl-interstate-light, arial, helvetica !important
}
.w-p{
  padding:60px 0 0 0;
}
@media (max-width:767px) {
  .w-p{
    padding:60px 15px 0;
  }
  .ct-kv .kv__citiapp {
    width: 162px;
    height: 121px;
    background-size: cover;
    bottom: 0px;
    left: 15px
  }
  .ct-kv .kv__citiapp .slick-list{
    position: absolute;
    left: 12px;
    bottom: -7px;
    width: 86px;
  }
  .ct-kv .kv__citiapp img {
    max-height: 121px
  }

  .big-number {
    font-size: 30px
  }
}

.btn--submit {
  display: inline-block;
  width: 200px;
  background: #0e2a48;
  color: #fff;
  font-size: 17px;
  letter-spacing: 2px;
  margin: 20px auto;
  height: 52px;
  line-height: 39px;
}

.btn--submit:hover {
  color: #fff;
  background: #102f51
}

.btn--submit:focus {
  color: #fff
}

.form-element {
  padding: 5px 0
}

.form-element input {
  padding: 3px 10px;
  min-height: 33px
}

.form-element select {
  padding: 3px 10px;
  height: 33px
}

.form-element.formcol2 .row {
  margin-left: -5px;
  margin-right: -5px
}

.form-element.formcol2 .row .col-xs-12,
.form-element.formcol2 .row .col-xs-6 {
  padding: 0 5px
}

.citiform .form-element input,
.citiform .form-element select {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #d4d4d4;
  height: 38px
}

@media (max-width:767px) {
  .citiform .form-element.formcol2 .col-xs-12+.col-xs-12 {
    margin-top: 10px
  }
}

.citiform .checkbox {
  color: #686868;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  background: 0 0
}

.citiform .checkbox input[type=checkbox] {
  width: 18px;
  height: 18px;
  min-height: auto;
  position: relative;
  top: 1px;
  margin: 0;
  border: #666;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float: left
}

.citiform .checkbox span {
  float: right;
  text-align: justify;
  width: 92%
}

.upperbox {
  padding: 40px 0
}

.upperbox__title {
  font-size: 30px;
  margin-bottom: 5px
}

@media (min-width:768px) {
  .upperbox__title {
    font-size: 36px
  }
}

.upperbox__para {
  font-size: 16px
}

.upperbox__slashbox {
  padding: 30px 0
}

.upperbox__bncontent {
  width: 100%
}

@media (min-width:768px) {
  .upperbox__para {
    font-size: 20px
  }

  .upperbox {
    padding: 60px 0
  }

  .upperbox__bncontent {
    width: 50%
  }
}

.bottombox {
  position: relative;
  padding-top: 74px
}

.bottombox.show {
  padding-top: 0;
  padding-bottom: 74px
}

.bottombox.show:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 50%;
  margin-left: -32px;
  border-left: 30px transparent solid;
  border-right: 30px transparent solid;
  border-top: 30px #e3e3e3 solid
}

.bottombox.show .bottombox__btn a {
  background-image: -webkit-linear-gradient(left, #cecece, #b4b4b4 50%, #cecece);
  background-image: -o-linear-gradient(left, #cecece, #b4b4b4 50%, #cecece);
  background-image: -webkit-gradient(linear, left top, right top, from(#cecece), color-stop(50%, #b4b4b4), color-stop(50%, #cecece));
  background-image: -moz-linear-gradient(left, #cecece, #b4b4b4 50%, #cecece);
  background-image: linear-gradient(to right, #cecece, #b4b4b4 50%, #cecece);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCECECE', endColorstr='#FFCECECE', GradientType=1)
}

.bottombox.show .bottombox__btn a:hover {
  background-image: -webkit-linear-gradient(left, #d3d3d3, #b9b9b9 50%, #d3d3d3);
  background-image: -o-linear-gradient(left, #d3d3d3, #b9b9b9 50%, #d3d3d3);
  background-image: -webkit-gradient(linear, left top, right top, from(lightgray), color-stop(50%, #b9b9b9), color-stop(50%, #d3d3d3));
  background-image: -moz-linear-gradient(left, #d3d3d3, #b9b9b9 50%, #d3d3d3);
  background-image: linear-gradient(to right, #d3d3d3, #b9b9b9 50%, #d3d3d3);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD3D3D3', endColorstr='#FFD3D3D3', GradientType=1)
}

.bottombox.show .bottombox__btn a .roll {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.bottombox__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1
}

.bottombox__btn a {
  display: block;
  color: #fff;
  letter-spacing: 3px;
  background-image: -webkit-linear-gradient(left, #2b4a6c, #0e2a48 50%, #2b4a6c);
  background-image: -o-linear-gradient(left, #2b4a6c, #0e2a48 50%, #2b4a6c);
  background-image: -webkit-gradient(linear, left top, right top, from(#2b4a6c), color-stop(50%, #0e2a48), color-stop(50%, #2b4a6c));
  background-image: -moz-linear-gradient(left, #2b4a6c, #0e2a48 50%, #2b4a6c);
  background-image: linear-gradient(to right, #2b4a6c, #0e2a48 50%, #2b4a6c);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF2B4A6C', endColorstr='#FF2B4A6C', GradientType=1);
  text-align: center;
  padding: 22px 0 20px;
  font-size: 16px
}

.bottombox__btn a:hover {
  background-image: -webkit-linear-gradient(left, #2f5177, #103155 50%, #2f5177);
  background-image: -o-linear-gradient(left, #2f5177, #103155 50%, #2f5177);
  background-image: -webkit-gradient(linear, left top, right top, from(#2f5177), color-stop(50%, #103155), color-stop(50%, #2f5177));
  background-image: -moz-linear-gradient(left, #2f5177, #103155 50%, #2f5177);
  background-image: linear-gradient(to right, #2f5177, #103155 50%, #2f5177);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF2F5177', endColorstr='#FF2F5177', GradientType=1)
}

.bottombox__btn .roll {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  top: -2px;
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: -webkit-transform ease .2s;
  -o-transition: -o-transform ease .2s;
  -moz-transition: transform ease .2s, -moz-transform ease .2s;
  transition: transform ease .2s;
  transition: transform ease .2s, -webkit-transform ease .2s, -moz-transform ease .2s, -o-transform ease .2s
}

.bottombox__btn .roll:after,
.bottombox__btn .roll:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff
}

.bottombox__btn .roll:before {
  margin-top: -1px;
  margin-left: -7px;
  width: 15px;
  height: 1px
}

.bottombox__btn .roll:after {
  margin-top: -8px;
  margin-left: 0;
  height: 15px;
  width: 1px
}

.bottombox__slide {

  background-color: #FFF;
  padding: 60px 20px;
  display: none
}

@media (max-width:767px) {
  .bottombox__slide {
    padding: 60px 15px
  }
}

.bottombox__tablebox {
  overflow-x: auto
}

.bottombox__tablebox table {
  min-width: 800px
}

.tabswitch a {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #979797;
  letter-spacing: 2px;
  line-height: 90px;
  height: 90px;
}
.tab-phone{
  position: absolute;
  left: 0;
  bottom: -30px;
  background: url(../images/tab-phone.png);
  width: 369px;
  height: 509px;
  display: block;
}


.tab-phone .tab-phone-slider{
  position: relative;
  top: 28px;
  left: 28px;
}
.tab-phone .slick-list{
  width: 280px;
}
.bottom-line{
  position: relative;
}
.bottom-line::before{
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 70px;
  height: 1px;
  background: #43678d;
}
.section2-tabs{
  width: 50%;
  margin-left: 50%;
  height: 145px;
}
.section2-tabs ul{
  width: 380px;
}
.section2-tabs li{
  color: #8e8e8e;
  cursor: pointer;
}
.section2-tabs li.active{
  color: #000;
}

@media (max-width:767px) {
  .tabswitch a {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #979797;
    letter-spacing: 2px;
    line-height: 60px;
    height: 60px;

  }
    .tab-phone {
      position: absolute;
      left: -25px;
      bottom: -30px;
      background: url(../images/tab-phone.png);
      width: 165px;
      height: 236px;
      display: block;
      background-size: cover;
    }
    .tab-phone .slick-list{
      width: 117px;
      position: absolute;
      left: -12px;
      top: -10px;
    }

    .tab-phone img{
     height: 215px;
  }
  .section2-tabs{
    width: 50%;
    margin-left: 50%;
    height: 200px;
  }
}

.tabswitch a:focus,
.tabswitch a:hover {
  background: #ebebeb;
  text-decoration: none
}

.tabswitch a.active {
  position: relative;
  background: #163352;
  color: #fff;
  -webkit-box-shadow: -3px -4px 8px rgba(204, 204, 204, .8);
  -moz-box-shadow: -3px -4px 8px rgba(204, 204, 204, .8);
  box-shadow: -3px -4px 8px rgba(204, 204, 204, .8)
}

.tabswitch a {
  position: relative;
}
.tabswitch a:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background:#ddd;
}

.tabswitch a.active:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background:#63a5d8;
}


.tabswitch.tabcol2 a {
  width: 33.3333%;
  outline: 1px solid #163352;
}
.tabswitch.tabcol2 .tab-01 {
  background: url(../images/tab01.png);
  width: 58px;
  height: 52px;
  position: relative;
  top: 17px;
  right: 5px;
  display: inline-block;
}
.tabswitch.tabcol2 .tab-02 {
  background: url(../images/tab02.png);
  width: 60px;
  height: 46px;
  position: relative;
  top: 17px;
  right: 5px;
  display: inline-block;
}
.tabswitch.tabcol2 .tab-03{
  background: url(../images/tab03.png);
  width: 43px;
  height: 54px;
  position: relative;
  top: 17px;
  right: 5px;
  display: inline-block;
}
.tabswitch.tabcol2 .active .tab-01 {
  background: url(../images/tab01-h.png);
}
.tabswitch.tabcol2 .active .tab-02 {
  background: url(../images/tab02-h.png);
}
.tabswitch.tabcol2 .active .tab-03{
  background: url(../images/tab03-h.png);
}

.tabswitch-box {
  background: #fff;
  padding: 80px 100px;
  font-size: 16px;
  border-right: 1px solid #163352;
    border-bottom: 1px solid #163352;
    border-left: 1px solid #163352;
  -webkit-box-shadow: 0 0 10px rgba(204, 204, 204, .4);
  -moz-box-shadow: 0 0 10px rgba(204, 204, 204, .4);
  box-shadow: 0 0 10px rgba(204, 204, 204, .4)
}


@media (max-width:767px) {
  .tabswitch.tabcol2 .tab-01,.tabswitch.tabcol2 .tab-02,.tabswitch.tabcol2 .tab-03{
    display: none;
  }
  .tabswitch-box {
    font-size: 15px;
    padding: 30px
  }

  .ct-intrate__slashbox .col-xs-12 {
    background-image: -webkit-linear-gradient(top, #fff 0, #e3e3e3 100%);
    background-image: -o-linear-gradient(top, #fff 0, #e3e3e3 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e3e3e3));
    background-image: -moz-linear-gradient(top, #fff 0, #e3e3e3 100%);
    background-image: linear-gradient(to bottom, #fff 0, #e3e3e3 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE3E3E3', GradientType=0)
  }
}

.tabswitch-box__wrap--process {
  padding: 10px 12px
}
.tabswitch-box__wrap--process:after{
  content: '';
  display: block;
  clear: both;
}

.tabswitch-box__wrap--process .imgblock {
  display: inline-block;
  max-height: 470px;
  width: auto
}

.tabswitch-box__wrap--process .imgblock--pos {
  position: relative;
  right: -8px
}

.tabswitch-box .overflow-content {
  overflow-x: auto;
  width: 50%;
  margin-left: 50%;
  height: 290px;
}
@media (max-width:767px){
  .tabswitch-box .overflow-content {
    overflow-x: auto;
    width: 100%;
    margin-left: 0%;
    height: 230px;
  }
  .tabswitch-box .overflow-content h3{
    letter-spacing: 0 !important;
    font-size: 20px !important;
  }
  .section2-tabs p{
    font-size: 18px !important;
  }
  .section2-tabs ul{
    width: 100%;
  }
}
.tabswitch-box .big-number {
  color: #0e2a48;
  font-style: Italic
}

.tabswitch-box .fa-angle-right {
  position: absolute;
  color: #217ab9;
  font-size: 70px;
  right: -13px;
  top: 50%;
  margin-top: -10px
}

.inb-box>* {
  display: inline-block
}

.ct-intrate__slashbox {
  margin-left: -40px;
  margin-right: -40px;
  padding: 20px 20px 30px
}

@media (min-width:768px) {
  .ct-intrate__slashbox {
    padding: 80px 20px 50px
  }
}

@media (min-width:1440px) {
  .ct-intrate__slashbox {
    padding: 80px 0 50px
  }
}

.ct-intrate__slashbox .col-xs-12 {
  text-align: center;
  padding: 30px 40px
}

.ct-intrate__slashbox .col-xs-12 .icon-resize {
  max-height: 50px;
  margin-bottom: 30px
}

@media (min-width:768px) {
  .ct-intrate__slashbox .col-xs-12 {
    padding: 0 40px
  }

  .ct-intrate__slashbox .col-xs-12+.col-xs-12:before {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    background: url(../images/slash.png) no-repeat;
    width: 40px;
    height: 250px
  }
}

.ct-intrate__slashbox .content {
  line-height: 180%
}

.ct-promote {
  background: url(../images/efx-bn01-180331.jpg) center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 650px;
  color: #1e3b5b
}

.ct-weekspromote,
.ct-weekspromote .bottombox__title {
  color: #fff
}

@media (max-width:991px) {
  .ct-promote {
    height: 350px
  }
}

@media (max-width:767px) {
  .ct-promote {
    height: 200px
  }
}

.ct-promote .container-in {
  height: 100%;
  text-align: right;
  padding: 0 20px;
  font-size: 0
}

.ct-promote .container-in:before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0
}

.ct-promote .upperbox__bncontent {
  font-size: 16px;
  text-align: left;
  width: 50%;
  display: inline-block
}

@media (max-width:991px) {
  .ct-promote .upperbox__bncontent {
    width: 55%
  }
}

.ct-promote .upperbox__bntitle {
  width: auto;
  table-layout: fixed;
  border-bottom: 1px #1e3b5b solid;
  letter-spacing: 2px
}

.ct-promote .upperbox__bntitle .kv__words__subtitle {
  font-weight: 400;
  letter-spacing: 8px
}

.ct-promote .upperbox__bntitle .kv__words__title {
  line-height: 130%;
  font-weight: 400;
  padding-right: 5px;
  border-bottom: 0;
  margin-bottom: 0
}

.ct-promote .upperbox__bntitle .big-number {
  position: relative;
  top: -8px;
  padding: 0
}

@media (min-width:768px) {
  .ct-promote .upperbox__bntitle .big-number {
    font-size: 60px
  }
}

@media (min-width:992px) {
  .ct-promote .upperbox__bntitle .big-number {
    font-size: 77px
  }
}

.ct-promote .upperbox__bnnote {
  letter-spacing: 3px
}

@media (max-width:767px) {
  .ct-promote .upperbox__bncontent {
    width: auto
  }

  .ct-promote .upperbox__bntitle .big-number {
    top: -3px
  }

  .ct-promote .upperbox__bnnote {
    font-size: 14px;
    letter-spacing: 1px
  }
}

.ct-appdownload h4,
.ct-downlink {
  letter-spacing: 3px
}

.ct-weekspromote.show:before {
  border-top-color: #aca59a
}

.ct-weekspromote.show .bottombox__btn a {
  background-image: -webkit-linear-gradient(left, #2b4a6c, #0e2a48 50%, #2b4a6c);
  background-image: -o-linear-gradient(left, #2b4a6c, #0e2a48 50%, #2b4a6c);
  background-image: -webkit-gradient(linear, left top, right top, from(#2b4a6c), color-stop(50%, #0e2a48), color-stop(50%, #2b4a6c));
  background-image: -moz-linear-gradient(left, #2b4a6c, #0e2a48 50%, #2b4a6c);
  background-image: linear-gradient(to right, #2b4a6c, #0e2a48 50%, #2b4a6c);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF2B4A6C', endColorstr='#FF2B4A6C', GradientType=1)
}

.ct-weekspromote.show .bottombox__btn a:hover {
  background-image: -webkit-linear-gradient(left, #2f5177, #103155 50%, #2f5177);
  background-image: -o-linear-gradient(left, #2f5177, #103155 50%, #2f5177);
  background-image: -webkit-gradient(linear, left top, right top, from(#2f5177), color-stop(50%, #103155), color-stop(50%, #2f5177));
  background-image: -moz-linear-gradient(left, #2f5177, #103155 50%, #2f5177);
  background-image: linear-gradient(to right, #2f5177, #103155 50%, #2f5177);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF2F5177', endColorstr='#FF2F5177', GradientType=1)
}

.ct-weekspromote .container-in {
  padding: 0 20px
}

@media (min-width:1440px) {
  .ct-weekspromote .container-in {
    padding: 0
  }
}

.ct-weekspromote .bottombox__content {
  font-size: 16px;
  line-height: 180%
}

.ct-weekspromote .bottombox__tablebox {
  padding: 30px 0 20px
}

.ct-weekspromote .bottombox__tablebox table {
  border: 1px solid #fff;
  width: 100%
}

.icon-arrow-l,
.icon-arrow-r {
  width: 10px;
  height: 18px;
  display: inline-block
}

.ct-weekspromote .bottombox__tablebox table td,
.ct-weekspromote .bottombox__tablebox table th {
  border: 1px solid #fff;
  padding: 20px;
  text-align: center;
  line-height: 170%
}

@media (max-width:767px) {

  .ct-weekspromote .bottombox__tablebox table td,
  .ct-weekspromote .bottombox__tablebox table th {
    padding: 15px
  }
}

.ct-weekspromote .bottombox__tablebox table td span,
.ct-weekspromote .bottombox__tablebox table th span {
  display: inline-block
}

.ct-weekspromote .bottombox__tablebox table th {
  background: #193857;
  color: #9ed9ff
}

.ct-weekspromote .bottombox__tablebox table .text-left {
  text-align: justify !important
}

.icon-arrow-r {
  background: url(../images/arrow-right.png) no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain
}

.icon-arrow-l {
  background: url(../images/arrow-left.png) no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain
}

.ct-downlink {
  padding: 30px 15px
}

@media (max-width:767px) {
  .ct-downlink {
    padding: 20px 15px
  }
}

.ct-downlink .table {
  position: relative;
  border: 1px solid #ccc;
  padding: 30px 0;
  margin-bottom: 0
}

.ct-downlink .table:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -75px;
  background: url(../images/slash.png) center no-repeat;
  width: 40px;
  height: 150px
}

.ct-downlink .table .table-cell {
  padding: 30px;
  text-align: center
}

@media (max-width:767px) {
  .ct-downlink .table .table-cell {
    padding: 10px 5px
  }
}

.ct-downlink .morelink {
  color: #0e2a48;
  padding: 10px;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px
}

.ct-downlink .morelink:hover {
  color: #143b66
}

.ct-downlink .morelink:hover .icon-arrow-r {
  left: 8px
}

.ct-downlink .morelink:hover .icon-arrow-l {
  right: 8px
}

.ct-downlink .morelink .icon-arrow-r {
  margin-left: 10px;
  left: 0
}

.ct-downlink .morelink .icon-arrow-l {
  margin-right: 10px;
  right: 0
}

.ct-downlink .morelink span {
  -webkit-transition: right ease .3s, left ease .3s;
  -o-transition: right ease .3s, left ease .3s;
  -moz-transition: right ease .3s, left ease .3s;
  transition: right ease .3s, left ease .3s;
  position: relative;
  top: -2px
}

.ct-downlink .citigold img,
.ct-downlink .citipriority img {
  max-height: 38px
}

@media (max-width:767px) {
  .ct-downlink .morelink {
    font-size: 14px
  }

  .ct-downlink .citigold img,
  .ct-downlink .citipriority img {
    max-height: 24px
  }
}

.ct-downlink__title {
  font-size: 20px;
  padding-left: 10px;
  color: #0e2a48
}

@media (max-width:767px) {
  .ct-downlink__title {
    font-size: 17px;
    padding-left: 0
  }
}

.ct-downlink__title--gold {
  color: #a0864a
}

.ct-appdownload {
  padding: 40px 0;
  text-align: center
}

.ct-appdownload a+a {
  margin-left: 10px
}

.ct-appdownload img {
  max-height: 42px
}

.global-html #disclaims {
  padding: 0
}

.global-html #disclaims .panel-title a {
  background-color: #dcdcdc
}

.global-html #disclaims .panel-title a:hover {
  background-color: #e1e1e1
}

.global-html #disclaims .panel-title a:focus {
  outline: 0
}

.global-html #disclaims .panel-title a:after {
  right: auto;
  left: 25px
}

.global-html .citiHeader-bw .logoWrap .citibank-logo-en {
  margin-left: 16px
}

@media (min-width:768px) {
  .global-html #disclaims .panel-title a {
    padding-left: 60px;
    text-align: left
  }

  .global-html .citiHeader-bw .logoWrap .citibank-logo-en {
    margin-right: 0;
    margin-bottom: 27px;
    margin-left: 25px
  }
}

#mainHeader {
  position: fixed;
  z-index: 1001
}

.menuwrap,
.menuwrap:after,
.menuwrap:before {
  position: absolute;
  top: 0;
  height: 100%
}

.menuwrap {
  right: 0;
  padding: 2px 8px
}

@media (min-width:768px) {
  .menuwrap {
    padding: 22px 18px
  }
}

.menuwrap:before {
  content: '';
  left: -1px;
  border-left: 1px #0070ad solid
}

.menuwrap:after {
  content: '';
  left: 0;
  border-left: 1px rgba(255, 255, 255, .22) solid
}

.menuwrap .menu-btn {
  cursor: pointer;
  padding: 10px
}

.menuwrap .menu-btn span {
  height: 2px;
  width: 25px;
  display: block;
  background: #fff
}

@media (min-width:768px) {
  .menuwrap .menu-btn span {
    height: 3px;
    width: 30px
  }
}

.menuwrap .menu-btn span+span {
  margin-top: 6px
}

.menuwrap__cover {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 44px;
  background-color: rgba(0, 0, 0, .7)
}

@media (min-width:768px) {
  .menuwrap__cover {
    top: 91px
  }
}

.menuwrap__box {
  position: fixed;
  z-index: 1000;
  right: -400px;
  top: 0;
  width: 300px;
  height: 100%;
  padding-top: 91px;
  background-color: #305479;
  color: #fff;
  text-align: center;
  -webkit-transition: right ease .4s;
  -o-transition: right ease .4s;
  -moz-transition: right ease .4s;
  transition: right ease .4s
}

.menuwrap__box.is-show {
  right: 0
}

@media (min-width:768px) {
  .menuwrap__box {
    width: 320px
  }
}

@media (min-width:1280px) {
  .menuwrap__box {
    width: 400px
  }
}

@media (min-width:1440px) {
  .menuwrap__box {
    width: 400px
  }
}

.menuwrap__box__inner {
  position: absolute;
  width: 100%;
  top: 44px;
  bottom: 80px;
  overflow-y: auto
}

@media (min-width:768px) {
  .menuwrap__box__inner {
    top: 91px
  }
}

.menuwrap__box__inner ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.menuwrap__box__inner ul li {
  position: relative;
  border-bottom: 1px #1d3853 solid
}

.menuwrap__box__inner ul li:before,
.menuwrap__box__social:before {
  content: '';
  position: absolute;
  border-bottom: 1px rgba(255, 255, 255, .22) solid;
  width: 100%;
  left: 0
}

.menuwrap__box__inner ul li:before {
  bottom: -2px
}

.menuwrap__box__inner ul li a {
  letter-spacing: 2px;
  display: block;
  color: inherit;
  font-size: 16px;
  padding: 18px 15px;
  -webkit-transition: background-color ease .2s;
  -o-transition: background-color ease .2s;
  -moz-transition: background-color ease .2s;
  transition: background-color ease .2s
}

.menuwrap__box__inner ul li a:hover {
  background-color: rgba(255, 255, 255, .05)
}

.menuwrap__box__social {
  position: absolute;
  background-color: #3a628a;
  width: 100%;
  height: 60px;
  bottom: 0;
  padding: 10px;
  border-top: 1px #1d3853 solid
}

.menuwrap__box__social:before {
  top: 0
}

.menuwrap__box__social a {
  padding: 0 5px;
  -webkit-transition: opacity ease .2s;
  -o-transition: opacity ease .2s;
  -moz-transition: opacity ease .2s;
  transition: opacity ease .2s
}

.menuwrap__box__social a:hover {
  opacity: .8
}

.menuwrap__box__social img {
  max-height: 38px
}

.dataCover {
  display: none;
  background: rgba(0, 0, 0, .8);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000
}

.dataCover .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -29px;
  margin-top: -75px;
  color: #fff;
  text-align: center;
  font-size: 14px
}

.dataCover .loader>div {
  position: relative;
  left: 2px;
  -webkit-animation: dataLoadingShine 1.6s ease-in-out infinite;
  -moz-animation: dataLoadingShine 1.6s ease-in-out infinite;
  -o-animation: dataLoadingShine 1.6s ease-in-out infinite;
  animation: dataLoadingShine 1.6s ease-in-out infinite
}

.dataCover .loader span {
  display: inline-block;
  height: 28px;
  width: 5px;
  background: #fff;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dataLoading 1s linear 1.4s infinite;
  -moz-animation: dataLoading 1s linear 1.4s infinite;
  -o-animation: dataLoading 1s linear 1.4s infinite;
  animation: dataLoading 1s linear 1.4s infinite
}

.dataCover .loader span+span {
  margin-left: 4px
}

.dataCover .loader span.first,
.dataCover .loader span.last {
  -webkit-animation: dataLoading 1s linear infinite;
  -moz-animation: dataLoading 1s linear infinite;
  -o-animation: dataLoading 1s linear infinite;
  animation: dataLoading 1s linear infinite
}

@-webkit-keyframes dataLoadingShine {

  0%,
  100% {
    opacity: 0
  }

  50%,
  75% {
    opacity: 1
  }
}

@-moz-keyframes dataLoadingShine {

  0%,
  100% {
    opacity: 0
  }

  50%,
  75% {
    opacity: 1
  }
}

@-o-keyframes dataLoadingShine {

  0%,
  100% {
    opacity: 0
  }

  50%,
  75% {
    opacity: 1
  }
}

@keyframes dataLoadingShine {

  0%,
  100% {
    opacity: 0
  }

  50%,
  75% {
    opacity: 1
  }
}

@-webkit-keyframes dataLoading {

  0%,
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
  }

  50% {
    -webkit-transform: scaleY(.4);
    transform: scaleY(.4)
  }
}

@-moz-keyframes dataLoading {

  0%,
  100% {
    -moz-transform: scaleY(1);
    transform: scaleY(1)
  }

  50% {
    -moz-transform: scaleY(.4);
    transform: scaleY(.4)
  }
}

@-o-keyframes dataLoading {

  0%,
  100% {
    -o-transform: scaleY(1);
    transform: scaleY(1)
  }

  50% {
    -o-transform: scaleY(.4);
    transform: scaleY(.4)
  }
}

@keyframes dataLoading {

  0%,
  100% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1)
  }

  50% {
    -webkit-transform: scaleY(.4);
    -moz-transform: scaleY(.4);
    -o-transform: scaleY(.4);
    transform: scaleY(.4)
  }
}
