.loading{
  background-color:#acacac;
  width:100vw;
  height:100vh;
  text-align: center;
  position: fixed;
  top:0;
  left:0;
}
.front_view img{
  width:100%;
  opacity: 0.7;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  position: absolute;
  top:0;
  left:0;
}
.ctrl_box div{
    text-align: center;
    margin-top:10px;
}
label{
  text-align: center;
}
