@media screen and ( -ms-high-contrast: active ), ( -ms-high-contrast: none ){
   .kv{
		padding-bottom:75%;
		margin-bottom:-75%;
	}
}
 @media screen and (min-width:0\0){
	.kv{
		padding-bottom:75%;
		margin-bottom:-75%;
	}
 }
.ct-kv{
	overflow:hidden;
}
