<!DOCTYPE html>
<html lang="en">

<head>
	<title>智富 比你想像的更近 - 花旗智富管理</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" />
	<meta name="keywords" content="財富管理,金融產品,投資,定存,美金定存,美金存款利率,美元定存利率,美元定存利率,外幣定存,花旗開戶,存款, 銀行 優惠,簽帳卡,現金回饋,Debit Card,萬事達卡,貴賓禮遇,亞洲萬里通,里數" />
	<meta name="description" content="陶晶瑩最信賴的專業理財團隊！Citi Priority 花旗智富管理傾聽你的夢想藍圖，按照適合你的計劃，達陣你的精采人生！" />

	<meta name="format-detection" content="telephone=no" />

	<meta property="og:title" content="智富 比你想像的更近 - 花旗智富管理" />
	<meta property="og:site_name" content="智富 比你想像的更近 - 花旗智富管理" />
	<meta property="og:description" content="陶晶瑩最信賴的專業理財團隊！Citi Priority 花旗智富管理傾聽你的夢想藍圖，按照適合你的計劃，達陣你的精采人生！" />
	<meta property="og:url" content="https://www.citibank.com.tw/sim/citipriority/asiamile/index.htm" />
	<meta property="og:image" content="https://www.citibank.com.tw/sim/citipriority/asiamile/img/blank.jpg" />
	<meta property="og:image:width" content="300" />
	<meta property="og:image:height" content="200" />
	<meta property="og:locale" content="en_us" />
	<meta property="og:locale:alternate" content="zh_TW" />

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="Citi Priority Taiwan">
	<meta name="twitter:title" content="智富 比你想像的更近 - 花旗智富管理">
	<meta name="twitter:description" content="陶晶瑩最信賴的專業理財團隊！Citi Priority 花旗智富管理傾聽你的夢想藍圖，按照適合你的計劃，達陣你的精采人生！">
	<meta name="twitter:url" content="https://www.citibank.com.tw/sim/citipriority/asiamile/index.htm">

	<link rel="icon" href="https://www.citibank.com.tw/sim/citipriority/views/images/favicon.ico" />
	<link rel="stylesheet" href="https://www.citibank.com.tw/sim/citipriority/views/css/guideline.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://www.citibank.com.tw/sim/citipriority/views/css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://www.citibank.com.tw/sim/citipriority/asiamile/css/custom.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://www.citibank.com.tw/sim/citipriority/asiamile/css/screen.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://www.citibank.com.tw/sim/citipriority/asiamile/css/screen-v.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/2019_custom.css" type="text/css" media="screen" />
	<style media="screen">
		.big-number{
			text-shadow: 0 0 5px #FFF;
		}
		@media (min-width:768px){
			.big-number{
				text-shadow: 0 0 5px #FFF, 0 0 10px #FFF,  0 0 15px #FFF;
			}
		}
	</style>
	<script type="text/javascript" src="https://www.citibank.com.tw/sim/citipriority/views/js/plugins/jquery-1.10.2.min.js"></script>
	<script type="text/javascript">
		var urlHostname = window.location.hostname,
			scriptSrc = "//nexus.ensighten.com/citi/tw_prod/Bootstrap.js",
			script = document.createElement('Script');
		if (urlHostname.indexOf("uat") > -1) scriptSrc = "//nexus.ensighten.com/citi/tw_stage/Bootstrap.js";
		script.src = scriptSrc;
		script.type = "text/javascript";
		document.getElementsByTagName('head')[0].appendChild(script);
	</script>
	<script type="text/javascript" src="https://www.citibank.com.tw/sim/zh-tw/js/mbox.js"></script>


	<!-- Global site tag (gtag.js) - Google Marketing Platform -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=DC-6074492"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'DC-6074492');
	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115456404-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-115456404-1');
	</script>

	<script language="JavaScript" type="text/javascript" src="https://www.citibank.com.tw/JPC/portal/js/citi_s_code.js"></script>
	<script language="JavaScript" type="text/javascript" src="https://www.citibank.com.tw/JPC/portal/js/sitecatalyst_page_code.js"></script>
	<script language="JavaScript" type="text/javascript" src="https://www.citibank.com.tw/global_docs/js/xfs.js"></script>
	<script language="JavaScript" type="text/javascript" src="https://www.citibank.com.tw/global_docs/js/xss.js"></script>
</head>

<body>
	<!-- <script type="text/javascript">
	var axel = Math.random() + "";
	var a = axel * 10000000000000;
	document.write('<iframe src="https://6074492.fls.doubleclick.net/activityi;src=6074492;type=citip;cat=ffcp_0;u1=[Application ID];u2=[Source Code];u3=[Step Number];u4=[P Code/Product];u5=[ECID (KANA)];u6=[ICID (KANA)];u7=[Download Document];u10=CP_Index_asiamile;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
	<iframe src="https://6074492.fls.doubleclick.net/activityi;src=6074492;type=citip;cat=ffcp_0;u1=[Application ID];u2=[Source Code];u3=[Step Number];u4=[P Code/Product];u5=[ECID (KANA)];u6=[ICID (KANA)];u7=[Download Document];u10=CP_Index_asiamile;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript> -->
	<!--
Event snippet for FF~STP_NewProjectAcquisitionPage_AVersion_MK~TW_AV~CWP_VT~DCCC_CH~BT_FR~PL_PC~ on https://www.citibank.com.tw/sim/citipriority/mac/index.htm: Please do not remove.
Place this snippet on pages with events you’re tracking.
Creation date: 02/20/2019
-->
<script>
	gtag('event', 'conversion', {
	    'allow_custom_scripts': true,
	    'u1': '[Application ID]',
	    'u10': 'NewProjectAcquisitionPage_BVersion',
	    'u11': '[URL]',
	    'u19': '[Login Status]',
	    'u2': '[Source Code]',
	    'u20': '[Market]',
	    'u3': '[Step Number]',
	    'u4': '[P Code\/Product]',
	    'u5': '[ECID (KANA)]',
	    'u6': '[ICID (KANA)]',
	    'u7': '[Download Document]',
	    'u8': '[URN]',
	    'u9': '[KANA ID]',
	    'send_to': 'DC-6074492/stp_10/ffstp007+standard'
	});
	function gtagForm(){
		gtag('event', 'conversion', {
		    'allow_custom_scripts': true,
		    'u1': '[Application ID]',
		    'u10': 'CPBTN_PleasContactMe',
		    'u2': '[Source Code]',
		    'u3': '[Step Number]',
		    'u4': '[P Code\/Product]',
		    'u5': '[ECID (KANA)]',
		    'u6': '[ICID (KANA)]',
		    'u7': '[Download Document]',
		    'u8': '[URN]',
		    'u9': '[KANA ID]',
		    'send_to': 'DC-6074492/ffcp_00/ffcp_0+standard'
		});
	};
	function gtagForm2(){
		gtag('event', 'conversion', {
		    'allow_custom_scripts': true,
		    'u1': '[Application ID]',
		    'u10': 'CPBTN_ActionNow',
		    'u2': '[Source Code]',
		    'u3': '[Step Number]',
		    'u4': '[P Code\/Product]',
		    'u5': '[ECID (KANA)]',
		    'u6': '[ICID (KANA)]',
		    'u7': '[Download Document]',
		    'u8': '[URN]',
		    'u9': '[KANA ID]',
		    'send_to': 'DC-6074492/ffcp_000/ffcp_0+standard'
		});
	};
</script>
<noscript>
<img src="https://ad.doubleclick.net/ddm/activity/src=6074492;type=stp_10;cat=ffstp007;u1=[Application ID];u2=[Source Code];u3=[Step Number];u4=[P Code/Product];u5=[ECID (KANA)];u6=[ICID (KANA)];u7=[Download Document];u8=[URN];u9=[KANA ID];u10=NewProjectAcquisitionPage_BVersion;u11=[URL];u19=[Login Status];u20=[Market];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1?" width="1" height="1" alt=""/>
</noscript>
<noscript>
<img src="https://ad.doubleclick.net/ddm/activity/src=6074492;type=ffcp_00;cat=ffcp_0;u1=[Application ID];u2=[Source Code];u3=[Step Number];u4=[P Code/Product];u5=[ECID (KANA)];u6=[ICID (KANA)];u7=[Download Document];u8=[URN];u9=[KANA ID];u10=CPBTN_PleasContactMe;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1?" width="1" height="1" alt=""/>
</noscript>
<noscript>
<img src="https://ad.doubleclick.net/ddm/activity/src=6074492;type=ffcp_000;cat=ffcp_0;u1=[Application ID];u2=[Source Code];u3=[Step Number];u4=[P Code/Product];u5=[ECID (KANA)];u6=[ICID (KANA)];u7=[Download Document];u8=[URN];u9=[KANA ID];u10=CPBTN_ActionNow;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1?" width="1" height="1" alt=""/>
</noscript>
	<!-- End of event snippet: Please do not remove -->

	<div style="display: none;">
		<!-- seo -->
		<h1>花旗智富管理禮遇，比你想像的更近</h1>
		<h2>全新線上外匯交易 外幣定存 </h2>
		<h2>網路申購定期定額基金 手續費3折</h2>
		<h2>精選全球奢華精品酒店 住宿4晚 1晚免費</h2>
		<h2>跨國提領 免手續費</h2>
		<h2>花旗全球速匯 免NT$600匯款手續費</h2>
		<h2>外國股票網路下單 買進手續費率0.3%起</h2>
		<h3>便捷貼心的金融服務</h3>
		<h3>穩健多元的財富創造</h3>
		<h3>接軌國際的全球金融</h3>
		<h3>悉心獨到的專屬禮遇</h3>
	</div>

	<div id="content-wrapper" class="scrollContainer">
		<div class="scrollContent" style="position: relative;">
			<div id="pageLoader"></div>
			<div id="pageWrappper">
				<header role="header">
					<script type="text/javascript" src="https://www.citibank.com.tw/sim/citipriority/views/js/header.js"></script>
				</header>
				<!--  -->
				<section class="custom" id="app" track-title="leads">
					<div class="table ct-kv">
						<div class="table-cell">
							<div class="kv">
								<div class="swiper-container kv-container">
									<div class="swiper-wrapper">
										<!-- 隨心出發的旅行 -->
										<div class="swiper-slide  swiper-no-swiping">
											<div class="bg" style="background-image:url(img/2019img/kv/b_20190510.jpg)"></div>
											<div class="inner-box">
												<h2 data-swiper-parallax="-600" class="blue">隨心出發的旅行</h2>
												<span data-swiper-parallax="-600" class="style2">比你想像的更近</span>
												<p data-swiper-parallax="-600" class="blue">
														外幣定存 最高年息<b class="big-number ">5.38% </b>
													<br />跨國ATM提款 <b class="big-number ">免手續費</b>
												</p>
												<!-- <a href="https://www.citibank.com.tw/eFX/" target="_blank" data-swiper-parallax="-600" class="btn_kv">了解更多</a> -->
												<p class="bb"></p>
											</div>
										</div>
									</div>
									<div class="swiper-pagination"></div>
								</div>
								<!-- <div class="side" v-bind:class="{'active': side.open}">
									<a class="toggle" v-on:click="toggle_side()" @mouseover="side.open = true" track="leads_cola_apply">即刻行動</a>
									<div class="form">
										<h3>申請花旗智富管理
											<br>比你想像的更近</h3>
										<div class="form-group col6 col-md-12 col-sm-12">
											<div class="input-wrap">
												<input type="hidden" id="ID_NO" name="idnum" v-model="form.idnum" maxlength="9" value="">
												<input type="text" @keyup="getMask" @keydown="getMask" @keypress="getMask" id="ID_NO_MASK" maxlength="9" v-bind:class="{ error: checkGroup('idnum') }"
													required>
												<span>身分證字號(後9碼)</span>

											</div>
											<span class="error-msg" v-html="getErrorMsg('idnum')"></span>
										</div>
										<div class="form-group col6 col-md-12 col-sm-12">
											<div class="input-wrap">
												<input type="text" v-model="form.CHI_NAME" v-bind:class="{ error: checkGroup('CHI_NAME') }" required>
												<span>中文姓名</span>
											</div>
											<span class="error-msg" v-html="getErrorMsg('CHI_NAME')"></span>
										</div>
										<div class="form-group col10 col-md-12 col-sm-12">
											<div class="input-wrap">
												<input type="tel" maxlength="10" v-model="form.MOB_TEL_NUM" v-bind:class="{ error: checkGroup('MOB_TEL_NUM') }" required>
												<span>行動電話</span>
											</div>
											<span class="error-msg" v-html="getErrorMsg('MOB_TEL_NUM')"></span>
										</div>
										<div class="form-group col12 col-md-12 col-sm-12">
											<div class="input-wrap">
												<input type="email" v-model="form.EMAIL_1" v-bind:class="{ error: checkGroup('EMAIL_1') }" required>
												<span>E-mail</span>
											</div>
											<span class="error-msg" v-html="getErrorMsg('EMAIL_1')"></span>
										</div>
										<div class="form-group form-group-nomgin col12 col-md-12 col-sm-12">
											<p>鄰近分行：</p>
											<div class="select-wrap col8 col-md-12 col-sm-12">
												<div class="select col6 col-md-12 col-sm-12">
													<select v-model="form.NEAR_CITY" @change="reBranch()" v-bind:class="{ error: checkGroup('NEAR_CITY') }">
														<option value="0">請選擇縣市</option>
														<option v-for="c in city" v-bind:value="c.key" v-html="c.value"></option>
													</select>
													<span class="error-msg" v-html="getErrorMsg('NEAR_CITY')"></span>
												</div>
												<div class="select col6 col-md-12 col-sm-12">
													<select v-model="form.NEAR_BRANCH" id="nearbranch" v-bind:class="{ error: checkGroup('NEAR_BRANCH') }">
														<option value="0">請選擇分行</option>
														<option v-for="b in branch" v-bind:value="b.key" v-html="b.value"></option>
													</select>
													<span class="error-msg" v-html="getErrorMsg('NEAR_BRANCH')"></span>
												</div>
											</div>
										</div>
										<div class="form-group form-group-nomgin col3 col-md-6 col-sm-6">
											<div class="input-wrap">
												<input type="tel" placeholder="驗證碼" maxlength="4" v-model="form.captcha" v-bind:class="{ error: checkGroup('captcha') }">
											</div>
											<span class="error-msg" v-html="getErrorMsg('captcha')"></span>
										</div>
										<div class="form-group form-group-nomgin col3 col-md-6 col-sm-6">
											<img class="captcha" v-bind:src="form.captcha_pic" @click="getCaptcha()">
										</div>

										<div class="form-group col12 col-md-12 col-sm-12 agree">
											<label class="checkbox-wrap" v-bind:class="{ error: checkGroup('agree') }">
												<input type="checkbox" name="agreement" id="agreement" v-model="form.agree">
												<div class="circle"></div>
												<span>本人已閱讀並了解花旗(台灣)銀行「
													<a target="_blank" href="http://www.citibank.com.tw/global_docs/chi/pressroom/infoprotect.pdf">蒐集、處理及利用個人資料告知事項</a>」</span>
											</label>
											<span class="error-msg" v-html="getErrorMsg('agree')"></span>

										</div>
										<div class="form-group col12 col-md-12 col-sm-12">
											<button class="btn_kv submit" @click="submit()">請與我聯絡</button>
										</div>

									</div>
								</div> -->
							</div>
						</div>

						<!-- <div id="accform" class="table-cell ct-kv__formwrap" onclick="gtag('event', 'lead-form', { 'event_category' : 'lead', 'event_label' : '表單'});"> -->
						<div id="accform" class="table-cell ct-kv__formwrap" onclick="gtag('event', 'lead-form', { 'event_category' : 'lead', 'event_label' : '表單'});gtagForm();">
							<h3 class="ct-kv__formwrap__title">請留下聯絡方式 花旗專員將與您聯絡</h3>
							<form class="form citiform" id="citiForm" autocomplete="off" method="post" name="citiForm">
								<input type="hidden" name="survey_code" value="">
								<input type="hidden" name="survey_date" value="">
								<input type="hidden" name="FinalData" value="">
								<input type="hidden" name="secure" value="false">
								<input type="hidden" id="hasRecap" name="hasRecap" value="false">
								<input type="hidden" id="isFullScreen" name="isFullScreen" value="false">
								<input type="hidden" id="isThankYouPage" name="isThankYouPage" value="false">
								<input type="hidden" id="subject" name="subject" value="2019_mac">
								<input type="hidden" id="_paramOrder" name="_paramOrder" value="ID_NO,CHI_NAME,mobile,email,city,neighborbank,ecid,icid">
								<input type="hidden" id="_paramAlias" name="_paramAlias" value="身分證字號,中文姓名,行動電話,Email,縣市,分行,ecid,icid">
								<input type="hidden" name="icid" id="icid">
								<input type="hidden" name="ecid" id="ecid">

								<div class="form-element inputBox0" data-error="請輸入正確身分證字號格式" data-null="請輸入身分證字號">
									<input class="maskedId" type="text" name="ID_NO" id="ID_NO" placeholder="身分證字號" maxlength="10" value="">
									<div class="msgBox"></div>
								</div>
								<div class="form-element inputBox0" data-error="請輸入中文姓名" data-null="請輸入中文姓名">
									<input type="text" name="CHI_NAME" id="CHI_NAME" placeholder="中文姓名">
									<div class="msgBox"></div>
								</div>
								<div class="form-element inputBox0" data-error="請輸入十位數的行動電話" data-null="請輸入行動電話">
									<input type="text" name="mobile" id="mobile" maxlength="10" placeholder="行動電話 (例:0912345678)">
									<div class="msgBox"></div>
								</div>
								<div class="form-element inputBox0" data-error="Email格式錯誤" data-null="請輸入Email">
									<input type="text" name="email" id="email" placeholder="Email">
									<div class="msgBox"></div>
								</div>
								<div class="form-element formcol2">
									<div class="row">
										<div class="col-xs-12 col-sm-6 selectBox0">
											<select name="city" id="city">
												<!-- <option value="0">選擇縣市</option> -->
											</select>
										</div>
										<div class="col-xs-12 col-sm-6 selectBox0">
											<select name="neighborbank" id="neighborbank">
												<!-- <option value="0">選擇分行</option> -->
											</select>
										</div>
									</div>
								</div>
								<div class="form-element formcol2 ">
									<div class="row">
										<div class="col-xs-6 col-sm-6 inputBox0" data-error="驗證碼格式錯誤" data-null="請輸入驗證碼">
											<input type="text" name="captcha" id="captcha" placeholder="驗證碼" maxlength="4">
											<div class="msgBox"></div>
										</div>
										<div class="col-xs-6 col-sm-6">
											<img id="captchaImg" width="100%" height="39" src="" alt="">
										</div>
									</div>
								</div>
								<div class="form-element checkbox uncheck clearfix">
									<input type="checkbox" name="agreement" id="agreement">
									<label for="agreement"><span style="text-align: left">本人已閱讀並瞭解花旗(台灣)銀行「<a href="http://www.citibank.com.tw/global_docs/chi/pressroom/infoprotect.pdf" target="_blank" style="display: inline"><u>蒐集、處理及利用個人資料告知事項</u></a>」</span></label>
								</div>
							</form>
							<a class="btn btn--submit" href="javascript:;" id="submitBtn">請與我聯絡 ></a>
						</div>
					</div>

					<!-- 邊框方格 -->
					<div class="container boxContainer">
						<div class="boxes">
							<h2>邀你進階入席Citi Priority花旗智富管理貴賓<br>即刻以智創富，盡情暢快逸享專屬禮遇！</h2>
							<div class="col6 col-md-12 col-sm-12  offer-box">
								<div class="offer-box-inner">
									<p>外幣定存</p>
									<h3>最高年息<b>5.38%</b></h3>
									<a href="https://www.citibank.com.tw/FXTD/" target="_blank" track="leads_keyoffering_slh" class="btn" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '外幣定存 最高年息 5%'});">了解更多 ></a>
								</div>
								<span class="number-img"><img src="img/2019img/pic1.png" alt="" /></span>
							</div>
							<!-- <div class="col6 col-md-12 col-sm-12  offer-box">
								<div class="offer-box-inner">
									<p>美金高利定存</p>
									<h3>最高年息<b>3.58%</b></h3>
									<a href="http://www.citibank.com.tw/ustd" target="_blank" track="leads_keyoffering_slh" class="btn" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '美金高利定存 最高年息 3.58%'});">了解更多 ></a>
								</div>
								<span class="number-img"><img src="img/2019img/pic7.png" alt="" /></span>
							</div> -->
							<div class="col6 col-md-12 col-sm-12  offer-box">
								<div class="offer-box-inner">
									<p>線上外匯交易</p>
									<h3>最高回饋<b>$3,888</b></h3>
									<a href="https://www.citibank.com.tw/eFX/" target="_blank" track="leads_keyoffering_slh" class="btn" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '外幣定存 最高年息 5.38%'});">了解更多 ></a>
								</div>
								<span class="number-img"><img src="img/2019img/pic1.png" alt="" /></span>
							</div>
							<div class="col6 col-md-12 col-sm-12  offer-box">
								<div class="offer-box-inner">
									<p>花旗全球速匯</p>
									<h3><b>免$600</b>匯款手續費</h3>
									<a href="https://www.citibank.com.tw/global_docs/chi/id/cgt_uslive02/index.htm" target="_blank" track="leads_keyoffering_slh" class="btn" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '花旗全球速匯 免NT$600 匯款手續費'});">了解更多
										></a>
								</div>
								<span class="number-img"><img src="img/2019img/pic2.png" alt="" /></span>
							</div>
							<div class="col6 col-md-12 col-sm-12  offer-box">
								<div class="offer-box-inner">
									<p>跨國ATM提款</p>
									<h3><b>免手續費</b></h3>
									<a href="https://www.citibank.com.tw/sim/zh-tw/debit-card/index.htm?tab=2&c=cgKnow2" target="_blank" track="leads_keyoffering_slh" class="btn" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '跨國ATM提款 免手續費'});">了解更多
										></a>
								</div>
								<span class="number-img"><img src="img/2019img/pic3.png" alt="" /></span>
							</div>
							<div class="col6 col-md-12 col-sm-12  offer-box">
								<div class="offer-box-inner">
									<p>全球奢華精品酒店</p>
									<h3>住宿4晚<b>1晚免費</b></h3>
									<a href="https://www.citibank.com.tw/sim/citipriority/bank-privileges-promotions/index.htm?hash=debitMasterPromote#click=activity01#popup=myModal_1" class="btn" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '全球奢華精品酒店 住宿4晚 1晚免費'});"
									  target="_blank">了解更多 ></a>
								</div>
								<span class="number-img"><img src="img/2019img/pic4.png" alt="" /></span>
							</div>
							<div class="col6 col-md-12 col-sm-12  offer-box">
								<div class="offer-box-inner">
									<p>刷卡滿千享百貨量販</p>
									<h3><b>300元</b>電子即享券</h3>
									<a href="https://www.citibank.com.tw/sim/citipriority/bank-privileges-promotions/index.htm?hash=creditCardReward#click=activity02" target="_blank" track="leads_keyoffering_slh" class="btn" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '刷卡滿千享百貨量販 300元 電子即享券'});">
										了解更多 >
									</a>
								</div>
								<span class="number-img"><img src="img/2019img/pic5.png" alt="" /></span>
							</div>
							<div class="col6 col-md-12 col-sm-12  offer-box">
								<div class="offer-box-inner">
									<p>網路下單外國股票</p>
									<h3>買進手續費率<b>0.3折</b>起</h3>
									<a href="https://www.citibank.com.tw/sim/zh-tw/investments/us-stock.htm" target="_blank" track="leads_keyoffering_slh" class="btn" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '網路下單外國股票 買進手續費率0.3折起'});">了解更多
										></a>
								</div>
								<span class="number-img"><img src="img/2019img/pic6.png" alt="" /></span>
							</div>
							<div class="col6 col-md-12 col-sm-12  offer-box">
								<div class="offer-box-inner">
									<p>網路新申購基金</p>
									<h3>手續費<b>5折</b>起</h3>
									<a href="https://www.citibank.com.tw/rsp" target="_blank" track="leads_keyoffering_slh" class="btn" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '網路新申購基金 手續費5折起'});">了解更多 ></a>
								</div>
								<span class="number-img"><img src="img/2019img/pic8.png" alt="" /></span>
							</div>
							<!--1則滿-->
							<!-- <div class="col12 col-md-12 col-sm-12  offer-box">
								<div class="offer-box-inner">
									<p>網路新申購基金</p>
									<h3>手續費<b>5折</b>起</h3>
									<a href="https://www.citibank.com.tw/rsp" target="_blank" track="leads_keyoffering_slh" class="btn" onclick="ga('send', 'event', 'outbound', 'click', '花旗全球速匯 免NT$600匯款手續費');">了解更多</a>
								</div>
								<span class="number-img"><img src="img/2019img/pic7.png" alt="" /></span>
							</div> -->
						</div>
					</div>
					<!-- 藍色方格 -->
					<div class="cards">
						<div class="container">
							<!-- <h2 class="title">歡迎成為Citi Priority花旗智富管理貴賓</h2> -->
							<!-- <p class="sub">智富 比你想像的更近！<br>花旗智富管理傾聽你的夢想藍圖，按照適合你的計劃，達陣你的精采人生！</p> -->
							<h3>智富 比你想像的更近</h3>
							<h5>花旗智富管理傾聽你的夢想藍圖，按照適合你的計劃，達陣你的精采人生！</h5>
							<div class="card-wrap">
								<div class="col6 col-md-12 col-sm-12 card-col">
									<div class="card">
										<h3>便捷貼心的金融服務</h3>
										<p>做足準備，讓你無論何時都能享有花旗智富管理盡心為你提供的專屬金融管理服務。</p>
										<a href="https://www.citibank.com.tw/sim/citipriority/simple-banking/index.htm" target="_blank" class="btn2" track="leads_pillars_simplebanking" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '便捷貼心的金融服務'});">了解更多
											></a>
									</div>
									<div class="card">
										<h3>接軌國際的全球金融</h3>
										<p>與世界無缝接軌，花旗智富管理隨你放眼全球寰宇悠遊，拓展生活無極限。</p>
										<a href="https://www.citibank.com.tw/sim/citipriority/global-access/index.htm" class="btn2" track="leads_pillars_createwealth" target="_blank" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '接軌國際的全球金融'});">了解更多
											></a>
									</div>
								</div>
								<div class="col6 col-md-12 col-sm-12 card-col">
									<div class="card">
										<h3>穩健多元的財富創造</h3>
										<p>在累進夢想的路上，花旗智富管理提供專業服務，讓你能更穩健安心的邁向財富目標。</p>
										<a href="https://www.citibank.com.tw/sim/citipriority/create-wealth/index.htm" target="_blank" class="btn2" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '穩健多元的財富創造'});">了解更多 ></a>
									</div>
									<div class="card">
										<h3>悉心獨到的專屬禮遇</h3>
										<p>因為你值得與眾不同，花旗為你量身打造不凡禮遇，讓你盡享優惠，成就精采生活。
											<!-- <span style="color: red ;margin-top: 5px;display: inline-block;"> * 限時先機 : 刷花旗智富管理 Debit Card 累積滿千享百貨量販300元電子即享券，搶先加入!</span>  -->
										</p>
										<a href="https://www.citibank.com.tw/sim/citipriority/bank-privileges-promotions/index.htm" class="btn2" track="leads_pillars_privileges_n_offers" target="_blank" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '悉心獨到的專屬禮遇'});">了解更多
											></a>
									</div>
								</div>
							</div>
							<div class="card-mobile">
								<div class="swiper-container card-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="card">
												<h3>便捷貼心的金融服務</h3>
												<p>做足準備，讓你無論何時都能享有花旗智富管理盡心為你提供的專屬金融管理服務。</p>
												<a href="https://www.citibank.com.tw/sim/citipriority/simple-banking/index.htm" target="_blank" class="btn2" track="leads_pillars_simplebanking">了解更多 ></a>
											</div>
										</div>
										<div class="swiper-slide" track="leads_banner_cashback">
											<div class="card">
												<h3>接軌國際的全球金融</h3>
												<p>與世界無缝接軌，花旗智富管理隨你放眼全球寰宇悠遊，拓展財富生活無極限。</p>
												<a href="https://www.citibank.com.tw/sim/citipriority/global-access/index.htm" class="btn2" track="leads_pillars_createwealth" target="_blank">了解更多 ></a>
											</div>
										</div>
										<div class="swiper-slide" track="leads_banner_slh">
											<div class="card">
												<h3>穩健多元的財富創造</h3>
												<p>在累進夢想的路上，花旗智富管理提供專業服務，讓你能更穩健安心的邁向財富目標。</p>
												<a href="https://www.citibank.com.tw/sim/citipriority/create-wealth/index.htm" target="_blank" class="btn2">了解更多 ></a>
											</div>
										</div>
										<div class="swiper-slide" track="leads_banner_fxtd">
											<div class="card">
												<h3>悉心獨到的專屬禮遇</h3>
												<p>因為你值得與眾不同，花旗為你量身打造不凡禮遇，讓你盡享優惠，成就精采生活。
													<!-- <span style="color: red ;margin-top: 5px;display: inline-block;"> * 限時先機 : 刷花旗智富管理 Debit Card 累積滿千享百貨量販300元電子即享券，搶先加入!</span>  -->
												</p>
												<a href="https://www.citibank.com.tw/sim/citipriority/bank-privileges-promotions/index.htm" class="btn2" track="leads_pillars_privileges_n_offers" target="_blank" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '悉心獨到的專屬禮遇'});">了解更多
													></a>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						</div>
					</div>
					<div class="slider">
						<div class="container">
							<div class="owl-carousel owl-theme  slider-container">
								<div class="item" track="leads_banner_asiamiles">
									<div class="pic">
										<img src="img/2019img/banner/a/1.jpg">
									</div>
									<a class="blur" href="https://www.citibank.com.tw/FXTD/" target="_blank" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '暢快入手夢幻逸品 比你想像的更近'});">
										<img src="img/2019img/banner/a/1_hover.jpg">
									</a>
								</div>
								<div class="item" track="leads_banner_asiamiles">
									<div class="pic">
										<img src="img/2019img/banner/a/2.jpg">
									</div>
									<a class="blur" href="https://www.citibank.com.tw/sim/zh-tw/debit-card/index.htm" target="_blank" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '商務即行 安心暢行 比你想像的更近'});">
										<img src="img/2019img/banner/a/2_hover.jpg">
									</a>
								</div>
								<div class="item" track="leads_banner_asiamiles">
									<div class="pic">
										<img src="img/2019img/banner/a/3.jpg">
									</div>
									<a class="blur" href="https://www.citibank.com.tw/sim/citipriority/bank-privileges-promotions/index.htm?hash=debitMasterPromote#click=activity01#popup=myModal_1" target="_blank" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '微奢華假期 比你想像的更近'});">
										<img src="img/2019img/banner/a/3_hover.jpg">
									</a>
								</div>
								<div class="item" track="leads_banner_asiamiles">
									<div class="pic">
										<img src="img/2019img/banner/a/4.jpg">
									</div>
									<a class="blur" href="https://www.citibank.com.tw/sim/citipriority/bank-privileges-promotions/index.htm?hash=creditCardReward#click=activity02" target="_blank" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '超越滿分的幸福 比你想像的更近'});">
										<img src="img/2019img/banner/a/4_hover.jpg">
									</a>
								</div>
								<!-- banner-4 -->
								<div class="item" track="leads_banner_asiamiles">
									<div class="pic">
										<img src="img/2019img/banner/a/5.jpg">
									</div>
									<a class="blur" href="https://www.citibank.com.tw/sim/zh-tw/investments/us-stock.htm" target="_blank" track="leads_keyoffering_slh" target="_blank" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '加快進程 佈局全球 比你想像的更近'});">
										<img src="img/2019img/banner/a/5_hover.jpg">
									</a>
								</div>

								<!-- banner-5 -->
								<div class="item">
									<div class="pic">
										<img src="img/2019img/banner/a/6.jpg">
									</div>
									<a class="blur" href="https://www.citibank.com.tw/rsp" target="_blank" onclick="gtag('event', 'click', { 'event_category' : 'outbound', 'event_label' : '起步即時 跨步未來 比你想像的更近'});">
										<img src="img/2019img/banner/a/6_hover.jpg">
									</a>
									<!-- <img class="gif" src="https://www.citibank.com.tw/sim/citipriority/asiamile/img/banner06.gif"> -->
								</div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
					<!-- <div class="share-container table">
                        <div class="table-cell">
                            <h4 class="share-title">立即分享</h4>
                            <a class="share outLink" track="leads_share_fb" v-bind:href="shareFB">
                                <img src="https://www.citibank.com.tw/sim/citipriority/asiamile/img/icon_fb_01.png">
                            </a>
                            <a class="share outLink" track="leads_share_line" v-if="isLine" v-bind:href="shareLine">
                                <img src="https://www.citibank.com.tw/sim/citipriority/asiamile/img/icon_line_01.png">
                            </a>
                        </div>
                        <div class="table-cell">
                            <h4 class="share-title">下載行動生活家APP</h4>
                            <a class="share" track="leads_download_app" href="https://www.citibank.com.tw/global_docs/chi/cb/160407_gm/index.html" target="_blank">
                                <img src="https://www.citibank.com.tw/sim/citipriority/asiamile/img/app.png">
                            </a>
                        </div>
					</div> -->
					<!-- <div class="rule">
						<div class="container">
							<h3 class="title" @click="toggleRule()" v-bind:class="{ active: rule.open }" track="leads_notice">花旗智富管理 活動注意事項</h3>
							<div class="rule-wrap" ref="rule">

								<h3>抽1,000,000「亞洲萬里通」里數</h3>
								<ul>
									<li>本活動係由花旗(臺灣)銀行(以下簡稱“本行”)舉辦，活動期間自2017/10/1起至2018/7/31止。</li>
									<li>本活動僅限在台灣發行之花旗晶片金融卡持卡人參加，持卡人於活動期間內啟用花旗晶片金融卡刷卡消費功能且於活動網頁完成登錄，活動期間內每新增一筆刷卡消費享一次抽獎機會，如累積新增兩筆刷卡消費享兩次抽獎機會，以此類推，抽獎機會得累計計算，刷越多中獎機會越大。</li>
									<li>本行將於2018/8/31前於律師見證下自符合抽獎資格者中，每月由電腦抽籤程式隨機抽出1名中獎者，每人可獲得100,000「亞洲萬里通」里數，共10名得獎者。每位活動參賽者於活動期間僅限中獎一次，凡已中獎之客戶將排除本活動期間之抽獎資格。本活動抽獎之合格消費簽帳日期間、合格消費入帳日期間、及公佈得獎日期之程序詳見下表。
										<table>
											<tr>
												<td>月數</td>
												<td>合格消費簽帳日期間</td>
												<td>合格消費入帳日期間</td>
												<td>本行網站「最新公告」公佈得獎日期</td>
											</tr>
											<tr>
												<td>1</td>
												<td>2017/10/1-2017/10/31</td>
												<td>2017/10/1-2017/10/31</td>
												<td>2017/11/30</td>
											</tr>
											<tr>
												<td>2</td>
												<td>2017/10/1-2017/11/30</td>
												<td>2017/10/1-2017/11/30</td>
												<td>2017/12/29</td>
											</tr>
											<tr>
												<td>3</td>
												<td>2017/10/1-2017/12/31</td>
												<td>2017/10/1-2017/12/31</td>
												<td>2018/1/31</td>
											</tr>
											<tr>
												<td>4</td>
												<td>2017/10/1-2018/1/31</td>
												<td>2017/10/1-2018/1/31</td>
												<td>2018/2/27</td>
											</tr>
											<tr>
												<td>5</td>
												<td>2017/10/1-2018/2/28</td>
												<td>2017/10/1-2018/2/28</td>
												<td>2018/3/30</td>
											</tr>
											<tr>
												<td>6</td>
												<td>2017/10/1-2018/3/31</td>
												<td>2017/10/1-2018/3/31</td>
												<td>2018/4/30</td>
											</tr>
											<tr>
												<td>7</td>
												<td>2017/10/1-2018/4/30</td>
												<td>2017/10/1-2018/4/30</td>
												<td>2018/5/31</td>
											</tr>
											<tr>
												<td>8</td>
												<td>2017/10/1-2018/5/31</td>
												<td>2017/10/1-2018/5/31</td>
												<td>2018/6/29</td>
											</tr>
											<tr>
												<td>9</td>
												<td>2017/10/1-2018/6/30</td>
												<td>2017/10/1-2018/6/30</td>
												<td>2018/7/31</td>
											</tr>
											<tr>
												<td>10</td>
												<td>2017/10/1-2018/7/31</td>
												<td>2017/10/1-2018/7/31</td>
												<td>2018/8/31</td>
											</tr>
										</table>
									</li>


									<li>100,000「亞洲萬里通」里數之得獎人須同意並授權本行公開部分姓名(中間名隱藏)及寄發中獎通知函予得獎人，得獎人須配合本行辦理相關手續後始可領取獎項，領獎程序截止日前未完成相關領獎手續視同放棄，恕無法補領，由備取得獎人遞補。如得獎者為未成年人，行使本條規定之相關權利義務須由其法定代理人代為意思表示或代受意思表示或經其法定代理人之允許。</li>
									<li>本活動抽獎項目為機會中獎活動，依中華民國所得稅法及各類所得扣繳率標準規定須辦理扣繳或申報，年度累積中獎價值若超過新臺幣1,000元整，應列入中獎人年度綜合所得稅申報。若單次中獎價值超過新臺幣20,000元整，中獎人須自行負擔10%之機會中獎稅額(非中華民國境內居住之個人或總機構在中華民國境外之營利事業單位,
										無論金額多寡, 依法扣繳20%稅金)，並配合本行辦理代扣繳相關事宜，預扣稅金後，始得領取獎項。</li>
									<li>如有參加者以不誠實手法參與或干擾活動之進行，本行有權取消其參加及兌獎資格。如有涉及人為操作、蓄意偽造、破壞或干擾本活動正常進行、或干擾其他參加者、得獎者、以其他不正當方法參與活動或違反法令之行為，本行有權立即終止或撤銷該參加者與本活動內所有相關資格，並保留相關法律追訴權。</li>
									<li>如因法令或主管機關規範，本行得中止或變更本活動相關內容。本活動相關訊息如有調整，將另行公佈於本行網站。</li>

								</ul>
								<h3>筆筆消費享1%現金回饋</h3>
								<ul>
									<li>本活動係由花旗(臺灣)銀行(以下簡稱“本行”)舉辦，活動期間自2017/10/1起至2017/12/31止。</li>
									<li>本活動僅限在台灣發行之花旗晶片金融卡持卡人參加，持卡人於活動期間內啟用花旗晶片金融卡刷卡消費功能且最晚於
										<span>2018/1/31</span>前完成線上登錄，
										<span>登錄當月</span>每筆新增一般消費享1%現金回饋(含原回饋)。活動合格之每筆消費回饋計算的時點係以登錄當月之消費
										<span>簽帳日</span>且廠商於
										<span>簽帳日之次月15日前請款</span>之交易為準。如多次登錄，以最早登錄月份計算。
									</li>
									<li>本活動獲得之現金回饋最快於2018/2/28起轉入花旗晶片金融卡帳戶中，並列示在銀行月結單上。 </li>
									<li>關於現金回饋之累積、存續、喪失、及兌換辦法將依花旗晶片金融卡規定為主。</li>
									<li>當持卡人有違反本活動辦法或花旗金融卡使用約定事項之情形時，本行保有暫停或終止該持卡人參與本活動的權利，且本行有權取消/扣回持卡人帳戶中因違反活動辦法或使用約定事項所獲得之現金回饋。</li>
								</ul>
							</div>
						</div>
					</div> -->
					<div class="footer-bar" v-bind:class="{active: footer.open}">
						<div class="footer-wrap" style="background-color:#0e2a48" v-bind:class="{active: footer.fixed}">
							<p>外幣定存 最高年息<span> 5.38 </span>%</p>
							<!-- updated 20190307 -->
							<!-- <a href="javascript:void(0)" onclick="$('body,html').animate({ scrollTop: 0}, 800);gtag('event', 'lead-form', { 'event_category' : 'lead', 'event_label' : '請與我聯絡'}); return false;" class="btn targetLink">請與我聯絡　></a> -->
							<a href="javascript:void(0)" onclick="$('body,html').animate({ scrollTop: 0}, 800);gtag('event', 'lead-form', { 'event_category' : 'lead', 'event_label' : '請與我聯絡'});gtagForm2();return false;" class="btn targetLink">請與我聯絡　&gt;</a>
							<!-- updated 20190307 -->
							<!--<a class="btn targetLink" href="https://www.citibank.com.tw/sim/citipriority/apply-now/index.htm" target="_blank">即刻行動</a>-->
							<!-- <a class="btn" href="" v-on:click="open_side(); ">即刻行動</a> -->
						</div>
					</div>
				</section>

				<!--  -->
				<footer class="pagefooter">
					<script type="text/javascript" src="https://www.citibank.com.tw/sim/citipriority/views/js/footer.js"></script>
				</footer>
			</div>
		</div>
	</div>

	<!-- Data Loading -->
	<div id="dataCover" class="dataCover">
		<div class="loader">
			<span class="first"></span>
			<span></span>
			<span class="last"></span>
			<div>資料傳輸中</div>
		</div>
	</div>
	<!-- Data Loading -->

	<script type="text/javascript" src="https://www.citibank.com.tw/JPC/portal/js/sitecatalyst_page_code.js"></script>
	<script type="text/javascript" src="https://www.citibank.com.tw/sim/citipriority/views/js/plugins/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://www.citibank.com.tw/sim/citipriority/views/js/plugins/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="https://www.citibank.com.tw/sim/citipriority/views/js/script.js"></script>
	<link rel="stylesheet" href="css/jquery-ui.min.css" media="screen" type="text/css" />
	<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"> -->

	<!--  -->
	<!-- <script type="text/javascript" src="https://www.citibank.com.tw/sim/citipriority/asiamile/js/main.js"></script> -->
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
	<script type="text/javascript" src="https://www.citibank.com.tw/sim/citipriority/asiamile/js/jQuery.dPassword_display4num.js"></script>
	<script type="text/javascript" src="https://www.citibank.com.tw/sim/citipriority/asiamile/js/ecid_icid.js"></script>
	<!--  -->
	<script type="text/javascript">
		$(document).ready(function() {
			activeTab('wiseWealth')
		});
	</script>
</body>

</html>
