body{
  margin:0;
  padding:0;
}

footer {
  display: inline-flex;
  width: 100%;
  font-size: 1em;
  height: 2em;
  bottom: 0;
  text-align: center;
  justify-content: center;
}
footer .copyright{
  color: #ACACAC;
  display: flex;
}
h1{
  font-size:2em;
  margin:1em auto;
}
h2{
  font-size:1.5em;
  margin:1em auto;
}
h3{
  font-size:1.2em;
  margin:1em auto;
}
.firstView{
  background-color: #AEAEAE;
  min-height:100vh;
  display:flex;
  justify-content: center;
  align-items:center;
}
.step0{

}
.step1{

}
.step2{

}
